{% block cmf_contentNode_widget %}
    <div
        class="{{ node_class }} {{ node.classes }} ContentNode"

        {% for key,value in node.attributes %}
            {{ key }}="{{ value }}"
        {% endfor %}

        data-cmf-position="{{ node.getPosition() }}"
        data-cmf-id="{{ node.id }}"
        data-cmf-class="{{ node_namespace }}\{{ node_class }}"
        >

        {#Real Content#}

        {% block cmf_contentNode_widget_content %}
            <h2 data-cmf-field="name">{{ node.name }}</h2>
            {% for child in node.nodes %}
                {{ child|cmfParse }}
            {% endfor %}
        {% endblock %}

    </div>
{% endblock cmf_contentNode_widget %}
