{% block cmf_contentNode_widget %}

    {#Real headerr#}
    {% block cmf_contentNode_widget_header %}
        <div
                class="{{ display_classes }}"

        {% for key,value in node.attributes %}
            {{ key }}="{{ value }}"
        {% endfor %}

        data-cmf-position="{{ node.getPosition() }}"
        data-cmf-id="{{ node.id }}"
        data-cmf-class="{{ node_namespace }}\{{ node_class }}"
        data-cmf-css-generated-classes="{{ generated_classes }}"
        data-cmf-tooltip="{{ ('Tooltip ' ~ node_class)|trans }} - <i>{{ node.name }}</i>"
        {% if node.id > 0 %}
            data-cmf-simple-form="{{ path('mm_cmf_content_node_simple_edit', {'id': node.id }) }}"
        {% endif %}

        data-cmf-add-child-form="{{ path('mm_cmf_content_node_discriminator_child_select', {'id': node.id }) }}"
        >
    {% endblock %}

    {#Real Content#}

    {% block cmf_contentNode_widget_content %}
        {#<h2 data-cmf-field="name" data-cmf-field-type="string">{{ node.name|raw }}</h2>#}
        <div class="ContentNodeChildren">
            {% for child in node.nodes %}
                {{ child|cmfParse }}
            {% else %}
                <i>{{ 'No Children for ' ~ node.name|trans }}</i>
            {% endfor %}
        </div>
    {% endblock %}

    {#Real Footer#}

    {% block cmf_contentNode_widget_footer %}
        </div>
    {% endblock %}
{% endblock cmf_contentNode_widget %}
