{% block cmf_contentNode_widget %}

    <div
        class="{{ display_classes }}"

        {% for key,value in node.attributes %}
            {{ key }}="{{ value }}"
        {% endfor %}

        data-cmf-position="{{ node.getPosition() }}"
        data-cmf-id="{{ node.id }}"
        data-cmf-class="{{ node_namespace }}\{{ node_class }}"
        data-cmf-simple-form="{{ path('mm_cmf_content_node_simple_form', {'id': node.id }) }}"
        data-cmf-css-generated-classes="{{ generated_classes }}"
    >

    {#Real Content#}

    {% block cmf_contentNode_widget_content %}
        <h2 data-cmf-field="name" data-cmf-field-type="string">{{ node.name|raw }}</h2>
        <div class="ContentNodeChildren">
            {% for child in node.nodes %}
                {{ child|cmfParse }}
            {% endfor %}
        </div>
    {% endblock %}

    </div>
{% endblock cmf_contentNode_widget %}
