<html>
    <head>

        <title>{{ node.metaTitle }}</title>
        <meta property="og:title" content="{{ node.metaTitle }}">

        {% if node.metaDescription is defined %}
            <meta property="og:description" content="{{ node.metaDescription  }}">
            <meta name="description" content="{{ node.metaDescription  }}">
        {% endif %}

        {% if node.metaAuthor is defined %}
            <meta name="author" content="{{ node.metaAuthor }}">
        {% endif %}

        {% if node.metaRobtos is defined %}
            <meta name="robots" content="{{ node.metaRobots }}">
        {% endif %}

        <meta name="keywords" content="{{ node.metaKeywords }}">

    </head>
    <body>
        <!--
        -------------------------------------------------------------------
        | this is the Page default template                               |
        | you can overwrite and configure your own in your app config     |
        -------------------------------------------------------------------
        -->

        {% for node in node.nodes %}
            {{ node|cmfParse }}
        {% endfor %}
    </body>
</html>